.article_card{
    border: 1px solid none;
    width:50vw;
    padding: 15px;
    margin:30px;
    height:250px;
    border-radius: 5px;
    box-shadow: 1px 1px 13px -10px #000000;
    
}
.article_card :hover{
    cursor: pointer;
}
.article_card h2 {
    color: grey;
    font-weight: lighter;
}
.author_name {
    position: relative;
    top:150px;
    color:grey;
    font-weight: lighter;
}
.content {
    position: relative;
    top:20px
}